---
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/public/images/favicon-32x32.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Planets fact site</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header-wrapper flex justify-between px-8 my-6 items-center">
      <div class="logo-wrapper">
        <a class="logo-home-link" href="../pages/index.astro">THE PLANETS</a>
      </div>
      <nav class="nav-wrapper">
        <ul class="list-wrapper flex gap-8">
          <li><a class="nav-links" href="./index.astro">mercury</a></li>
          <li><a class="nav-links" href="./venus.astro">venus</a></li>
          <li><a class="nav-links" href="./earth.astro">earth</a></li>
          <li><a class="nav-links" href="./mars.astro">mars</a></li>
          <li><a class="nav-links" href="./jupiter.astro">jupiter</a></li>
          <li><a class="nav-links" href="./saturn.astro">saturn</a></li>
          <li><a class="nav-links" href="./uranus.astro">uranus</a></li>
          <li><a class="nav-links" href="./neptune.astro">neptune</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="planet-information-section">
        <div class="planet-img-wrapper self-center">
          <img src="/images/planet-earth.svg" alt="planet-mercury" />
        </div>
        <div class="information-wrapper flex flex-col gap-8">
          <div class="information-intro-wrapper flex flex-col gap-8">
            <h1 class="information-main-heading">Earth</h1>
            <p class="information-main-paragraph">
              Third planet from the Sun and the only known planet to harbor
              life. About 29.2% of Earth's surface is land with remaining 70.8%
              is covered with water. Earth's distance from the Sun, physical
              properties and geological history have allowed life to evolve and
              thrive.
            </p>
            <div
              class="wikipedia-link-source-wrapper
          flex
          items-center
          gap-2"
            >
              <p class="wikipedia-source-title">Source :</p>
              <a
                class="wikipedia-link"
                href="https://en.wikipedia.org/wiki/Earth">Wikipedia</a
              >
              <div class="wikipedia-arrow-link">
                <img
                  class="wikipedia-link-"
                  src="/images/icon-source.svg"
                  alt="icon-source"
                />
              </div>
            </div>
          </div>
          <div class="more-inforamtion-pages">
            <ul class="more-inforamtion-pages-list-wrapper">
              <div class="more-inforamtion-pages-link-wrapper">
                <p class="page-number">01</p>
                <li class="page-link">
                  <a class="page-link" href="#">OVERVIEW</a>
                </li>
              </div>
              <div class="more-inforamtion-pages-link-wrapper">
                <p class="page-number">02</p>
                <li class="page-link">
                  <a class="page-link" href="">Internal Structure</a>
                </li>
              </div>
              <div class="more-inforamtion-pages-link-wrapper">
                <p class="page-number">03</p>
                <li class="page-link">
                  <a class="page-link" href="">Surface Geology</a>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </section>

      <section class="accurate-numbers-section mb-16">
        <div class="number-box">
          <h2 class="accurate-numbers-heading">Rotation Time</h2>
          <p class="accurate-numbers-paragraph">0.99 Days</p>
        </div>
        <div class="number-box">
          <h2 class="accurate-numbers-heading">Revolution Time</h2>
          <p class="accurate-numbers-paragraph">365.26 Days</p>
        </div>
        <div class="number-box">
          <h2 class="accurate-numbers-heading">Radius</h2>
          <p class="accurate-numbers-paragraph">6,371 KM</p>
        </div>
        <div class="number-box">
          <h2 class="accurate-numbers-heading">Average Temp.</h2>
          <p class="accurate-numbers-paragraph">16°c</p>
        </div>
      </section>
    </main>
  </body>
</html>
