---
import "@/styles/globals.css";
---

<header class="header-wrapper flex justify-between px-8 my-6 items-center">
  <div class="logo">
    <a href="../pages/index.astro">THE PLANETS</a>
  </div>
  <nav class="nav-wrapper">
    <ul class="list-wrapper flex gap-8">
      <li><a href="../pages/index.astro">mercury</a></li>
      <li><a href="../pages/VENUS.astro">venus</a></li>
      <li><a href="../pages/EARTH.astro">earth</a></li>
      <li><a href="../pages/MARS.astro">mars</a></li>
      <li><a href="../pages/jupiter.astro">jupiter</a></li>
      <li><a href="../pages/saturn.astro">saturn</a></li>
      <li><a href="../pages/Uranus.astro">uranus</a></li>
      <li><a href="../pages/Neptune.astro">neptune</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    /* width: min(95%, 90rem); */
    color: var(--clr-White);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  a {
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    color: var(--clr-White);
  }
  .logo a {
    font-family: var(--ff-primary);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  nav ul li a {
    font-family: var(--ff-secondary);
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; /* 227.273% */
  }
</style>
