---
import "@/styles/globals.css";
---

<header class="header-wrapper flex justify-between px-8 my-6 items-center">
  <div class="logo-wrapper">
    <a class="logo-home-link" href="../pages/index.astro">THE PLANETS</a>
  </div>
  <nav class="nav-wrapper">
    <ul class="list-wrapper flex gap-8">
      <li><a class="nav-links" href="index.astro">mercury</a></li>
      <li><a class="nav-links" href="/venus.astro">venus</a></li>
      <li><a class="nav-links" href="/earth.astro">earth</a></li>
      <li><a class="nav-links" href="/mars.astro">mars</a></li>
      <li><a class="nav-links" href="/jupiter.astro">jupiter</a></li>
      <li><a class="nav-links" href="/saturn.astro">saturn</a></li>
      <li><a class="nav-links" href="/uranus.astro">uranus</a></li>
      <li><a class="nav-links" href="/neptune.astro">neptune</a></li>
    </ul>
  </nav>
</header>

<style>
  .header-wrapper {
    /* width: min(95%, 90rem); */
    color: var(--clr-White);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-wrapper a {
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    color: var(--clr-White);
  }
  .logo-home-link {
    font-family: var(--ff-primary);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .nav-links {
    font-family: var(--ff-secondary);
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; /* 227.273% */
  }
</style>
