---
import "@/styles/globals.css";
---

<section class="">
  <div class="self-center">
    <img src="/images/planet-mercury.svg" alt="planet-mercury" />
  </div>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-8">
      <h1>Mercury</h1>
      <p>
        Mercury is the smallest planet in the Solar System and the closest to
        the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest
        of all the Sun's planets. Mercury is one of four terrestrial planets in
        the Solar System, and is a rocky body like Earth.
      </p>
      <div class="source-wrapper
      flex
      items-center
      gap-2">
        <p>Source :</p>
        <a href="https://en.wikipedia.org/wiki/Mercury_(planet)">Wikipedia</a>
        <div class="img-wrapper">
          <img src="/images/icon-source.svg" alt="icon-source" />
        </div>
      </div>
    </div>
    <div class="pages-link">
      <ul>
        <div class="link-wrapper">
          <p class="link-number">01</p>
          <li>
            <a href="/MercuryOverview.astro">OVERVIEW</a>
          </li>
        </div>
        <div class="link-wrapper">
          <p class="link-number">02</p>
          <li>
            <a href="/src/components/MercuryInternalStructure.astro"
              >Internal Structure</a
            >
          </li>
        </div>
        <div class="link-wrapper">
          <p class="link-number">03</p>
          <li>
            <a href="/src/components/MercurySurfaceGeology.astro"
              >Surface Geology</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>

  <style>
    section {
      width: min(95%, 70rem);
      margin: 7rem auto;
      gap: 4rem;
      display: grid;
      grid-template-columns: repeat(2, 23rem);
      place-content: center;
      color: var(--clr-White);
    }

    h1 {
      font-family: var(--ff-primary);
      font-size: 5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    p {
      font-family: var(--ff-seconadry);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5625rem; /* 178.571% */
    }

    .source-wrapper p {
      font-family: var(--ff-seconadry);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5625rem; /* 178.571% */
    }

    .source-wrapper a {
      font-family: var(--ff-seconadry);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5625rem;
      text-decoration-line: underline;
      color: rgba(255, 255, 255, 0.2);
    }

    .link-number {
      color: rgba(255, 255, 255, 0.2);
      font-family: var(--ff-seconadry);
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5625rem; /* 208.333% */
      letter-spacing: 0.16069rem;
    }

    .link-wrapper {
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: 21.875rem;
      height: 3rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      padding-left: 1rem;
    }
    .link-wrapper:hover {
      background-color: var(--clr-Pelorous);
      transition: all 0.2s;
    }
    .pages-link ul li a {
      font-family: var(--ff-seconadry);
      color: var(--clr-White);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5625rem; /* 208.333% */
      letter-spacing: 0.16069rem;
      text-transform: uppercase;
      margin-left: 1rem;
    }
  </style>
</section>

<section></section>
